{% extends 'layout.twig' %}
{% block content %}
    <h1>Edit post ID: {{ post.id }}</h1>
    {#<form action="{{ path('admin_post_edit_form') }}" method="post">#}
    <form action="" method="post">
        <input name="published" type="checkbox" {% if post.published %}checked{% endif %}>Published<br>
        <p>Heading:<br>
            <input name="heading" type="text" value="{{ post.heading }}">
        </p>
        <p>Content:<br>
            <textarea name="content" id="" cols="30" rows="10">{{ post.content }}</textarea>
        </p>
        <p>Date:<br>
            <input name="created_at" type="text" value="{{ post.created_at }}">
        </p>
        <input type="submit" value="Submit"><input type="reset" value="Reset">
    </form>
    <hr>
    <p><a href="{{ path('post_show', {id: post.id}) }}">Review post</a></p>
{% endblock %}