{% extends 'layout.twig' %}
{% block content %}
    <h1>ADMIN BLOG</h1>
    {% for p in posts %}
        {{ parent() }}
        <p>id: <a href="{{ path('post_show', {id: p.id}) }}">{{ p.id }}</a></p>
        <p><a href="{{ path('admin_post_edit', {id: p.id}) }}">EDIT</a></p>
    <p>Post created at {{ p.created_at|date("m/d/Y") }}</p>
    <p>{{ p.content }}</p>
    {% endfor %}
{% endblock %}